ol{
    padding-left: 30px;
}
ul{
    padding-left: 30px;
}
.game{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}
.game-info{
    margin-left: 20px;
}
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.link{
    width: 35%;
    text-align: center;
    padding: 20px 30px;
    background-color: #a0f0a0;
    color: #555555;
	font-size: 24px;
	font-weight: 600;
}
.active{
    background-color: #ff5500;
	color: #ffffff;
}
.main{
	padding: 10px;
}
a{
	color: #dc3545;
	font-weight: 600;
}
a:hover{
	text-decoration: none;
	color: #adadad;
}